.UTAustin{
    color: #bf5700;
    background-color: #bf5700;
}

.UTAustin_txt{
    color: whitesmoke;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 90%;
    margin-inline: 10%;
    margin-right: 10%;
}

.blog-heading{
  width: 100%;
  margin: auto;
}

.UTAustinLogo{
  height: 7%;
  width: auto;
  margin: auto;
}

.background_color0{
  color: #f7f7f2;
  background-color: #f7f7f2;
}

.background_color1{
  color: #e8e5da;
  background-color: #e8e5da;
}

.background_color2{
  color: #bdb7a6;
  background-color: #bdb7a6;
}

.background_color3{
  color: #d6cba7;
  background-color: #d6cba7;
}

.researcher{
    width: 100%;
    height: auto;
    margin: auto;
}

.e_researcher{
    padding: 3%;
    margin: auto;
}

.former{
    width: 80%;
    text-align: center;
    margin: auto
}

.people_image{
    height: auto;
    width: 85%;
    margin: auto;
}

.people_txt{
    height: auto;
    width: 90%;
    margin: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.table{
    width: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: auto;
}

.slideshow-container0 {
  height: 50%;
  width: 100%;
  max-height: 50%;
  max-width: 100%;
}

.slideshow-container {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    text-align: center;
    object-fit: contain;
}
  
.mySlides {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}
  
.slideImage {
  max-width: 100%;
  max-height: 400px; /* or whatever you prefer */
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}
  
@keyframes fade {
  0% {
      opacity: 0;
    }
  50% {
      opacity: 1;
    }
  100% {
      opacity: 0;
    }
}

p{
    font-family: "Montserrat", sans-serif;
}
  
h1{
  font-family: "Montserrat", sans-serif;
}

h2{
  font-family: "Montserrat", sans-serif;
}
