.UTAustin{
    color: #bf5700;
    background-color: #bf5700;
}

.UTAustin_txt{
    color: #bf5700;
}

.UTAustinLogo{
    height:14%;
    width:28%;
    margin: auto;
}

.researcher{
    max-width: 60%;
    margin: auto;
}