{% extends "layout.html" %} 

{% block content %}
<div class="container-fluid" id="cover">
    <h1 class="text-center display-1 blog-heading p-4 text-dark">Freshman Research Initiative</h1>
</div>
<div class="container">
    <br>
    <hr class="my-1 border-dark UTAustin">
    <br>
    <div class="rounded-3 background_color0 p-4 e_researcher text-dark">
        <h3><a class="text-dark" href="https://fri.cns.utexas.edu/research-streams/magnetic-matter">Magnetic Matter</a></h3>
        <p>We focus on materials physics and the design and development of 
            materials for use in data storage, optics, and sensors. Students will learn new materials 
            synthesis via solid state reaction, followed by structural, microscopic, magnetic, thermal, 
            and superconducting characterization of the materials. Students may also perform cantilever 
            micromagnetometry, interferometry, and magnetic resonance microscopy.
        </p>
    </div>
</div>
{% endblock %}
