{% extends "layout.html" %} 

{% block content %}
<div class="container-fluid" id="cover">
    <br>
    <h1 class="text-center display-1 blog-heading p-4 rounded-3 text-white" style="background-color:#cf7021">Our Group</h1>
    <br>
    <hr class="my-1 border-dark UTAustin">
    <br>
</div>
<div class="container researcher text-center rounded">
    <div class="rounded-3 background_color0 p-4 e_researcher">
        <h2 class="text-dark">Principal Investigator</h2>
        <br>
        <hr class="my-1 border-dark UTAustin">
        <br>
        <div class = 'row justify-content-center'>
            {% for people in curr_lab_people %}
                {% if people.role == 'PI' %}
                        <div class="col-lg-4 col-md-6 col-sm-12 text-dark p-3">
                                <img class="people_image" src="{{ people.picture }}" style="padding: 1%;">
                                <p class="people_txt">{{people.name}}</p>
                                <p class="people_txt">{{people.email}}</p>
                                <hr class="my-1 border-dark">
                                <p class="people_txt">{{people.blurb}}</p>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="rounded-3 background_color0 p-4 e_researcher">
        <h2 class="text-dark">Senior Researchers</h2>
        <br>
        <hr class="my-1 border-dark UTAustin">
        <br>
        <div class = 'row justify-content-center'>
            {% for people in curr_lab_people %}
                {% if people.role == 'PostDoc' %}
                        <div class="col-lg-4 col-md-6 col-sm-12 text-dark p-3">
                                <img class="people_image" src="{{ people.picture }}" style="padding: 1%;">
                                <p class="people_txt">{{people.name}}</p>
                                <p class="people_txt">{{people.email}}</p>
                                <hr class="my-1 border-dark">
                                <p class="people_txt">{{people.blurb}}</p>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="rounded-3 background_color0 p-4 e_researcher">
        <h2 class="text-dark">Graduate Students</h2>
        <br>
        <hr class="my-1 border-dark UTAustin">
        <br>
        <div class = 'row justify-content-center'>
            {% for people in curr_lab_people %}
                {% if people.role == 'Graduate' %}
                        <div class="col-lg-4 col-md-6 col-sm-12 text-dark p-3">
                                <img class="people_image" src="{{ people.picture }}" style="padding: 1%;">
                                <p class="people_txt">{{people.name}}</p>
                                <p class="people_txt">{{people.email}}</p>
                                <hr class="my-1 border-dark">
                                <p class="people_txt">{{people.blurb}}</p>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="rounded-3 background_color0 p-4 e_researcher">
        <h2 class="text-dark">Undergraduate Students</h2>
        <br>
        <hr class="my-1 border-dark UTAustin">
        <br>
        <div class = 'row justify-content-center'>
        {% for people in curr_lab_people %}
            {% if people.role == 'Undergraduate' %}
                    <div class="col-lg-4 col-md-6 col-sm-12 text-dark p-3">
                            <img class="people_image" src="{{ people.picture }}" style="padding: 1%;">
                            <p class="people_txt">{{people.name}}</p>
                            <p class="people_txt ">{{people.email}}</p>
                            <hr class="my-1 border-dark">
                            <p class="people_txt">{{people.blurb}}</p>
                    </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <div class="rounded-3 background_color0 table-responsive e_researcher text-center">
        <h2 class="text-dark">Former Members</h2>
        <br>
        <hr class="my-1 border-dark UTAustin">
        <br>
        <table class="table table-bordered text-dark text-center w-auto">
            <tr class="text-dark">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="white-space: nowrap;">Current Position</th>
                    </tr>
                </thead>
            </tr>
            {% for people in former_lab_people %}
                <tbody>
                    <tr>
                        <th class="text-dark">{{people.name}}</th>
                        <th class="text-dark">{{people.current_position}}</th>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
