{% extends "layout.html" %} 

{% block content %}
<div class="container-fluid text-white text-center py-5" 
        style="background-image: url('\static/images/background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;">
    <h1 class="display-2 fw-bold">Our Publications</h1>
</div>
<br>
    <hr class="my-1 border-dark UTAustin">
<br>
<div class="container background_color0 rounded-3 p-4">
    <ol reversed>
    {% for publication in lab_publications %}
        <li class="text-dark">{{ publication.citation }}</li>
        <br>
    {% endfor %}
    </ol>   
</div>
{% endblock %}
