{% extends "layout.html" %} 

{% block content %}
<div class="container-fluid" id="cover">
    <br>
    <h1 class="text-center display-1 blog-heading p-4 rounded-3 text-white" style="background-image: url('\static/images/background.jpg');  
                                                                                    background-size: cover;
                                                                                    background-position: center;
                                                                                    background-repeat: no-repeat;
                                                                                    width: 100%;">Publications</h1>
    <br>
    <hr class="my-1 border-dark UTAustin">
    <br>
</div>
<div class="container background_color0 rounded-3 p-4">
    <br>
    <hr class="my-1 border-dark UTAustin">
    <br>
    <ol reversed>
    {% for publication in lab_publications %}
        <li class="text-dark">{{ publication.citation }}</li>
        <br>
    {% endfor %}
    </ol>   
</div>
{% endblock %}
